mixin storeForm(store = {})
  form(action="/add", method="post", class="card")
    label(for="name") Name
    input(type="text", name="name", class="add-input")

    label(for="description") Description
    textarea( name="description",class="add-input")
    -const choices = ['Open late', 'Family', 'Vegan', 'Western', 'Eastern']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox", id=choice, value=choice,name="tags", class="add-input")
          label(for=choice)=choice
    input(type="submit", value="save 🤩", class="button")



