input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $grey;

  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}


.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;

  &+.form {
    margin-top: 4rem;
  }

  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}

.text-input,
textarea {
  box-shadow: 1px 2px 2px 1px #3333;
  margin: 1rem 0;
  transition: all .3s ease-in-out;

  &:hover {
    box-shadow: 3px 3px 4px 3px #3333;
    border: 2px solid $yellow;
  }

  &:focus {
    transform: scale(1.1);
  }
}